.appHeading {
  font-size: 1.4em;
  width: 100%;
  min-height: 40px;
  position: fixed;
  z-index: 1000;
  background-color: rgb(1, 19, 78);
  color: white;
  padding: 6px;
  opacity: 0.85;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries {
  padding-top: 60px;
}

.country {
  text-align: center;
  padding-top: 0px;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainbutton {
  background-color: #ecd96b;
  border-radius: 5px;
}

.badge {
  margin-left: 10px;
  display: inline-block;
  min-width: 16px;
  height: 16px;
  padding: 3px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  background: #5d0606;
  color: #fff;
}

.medals {
  text-transform: capitalize;
}

.medals button {
  margin-left: 10px;
  width: 25px;
}

.newCountryButton {
  text-align: center;
  margin-bottom: 20px;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.7;
}
.loginForm {
  border: 1px solid #999;
  background-color: #dedede;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  width: 300px;
  top: 65px;
  left: 8px;
}
.loginLink {
  color: #fff;
  position: absolute;
  top: 8px;
  left: 8px;
}
